<!DOCTYPE html>
<html>
    {% load staticfiles %}
    <head>
        <title> {% block pagetitle %} BOOKHUB:UNITED WRITERS {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'account/css/base.css' %}" >
        {% include 'material/includes/material_css.html' %}
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <main class="container">
            {% block content %}{% endblock %}
        </main>
        <script src="{% static 'base/js/jquery-2.1.1.min.js' %}"></script>
        <script src="{% static 'material/js/jquery.datetimepicker.js' %}"></script>
        <script src="{% static 'material/js/jquery.formset.js' %}"></script>
        <script src="{% static 'material/js/materialize.js' %}"></script>
        <script src="{% static 'material/js/material_init.js' %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
